.u-section-1 .u-sheet-1 {
  min-height: 501px;
}

.u-section-1 .u-image-1 {
  width: 676px;
  left: auto;
  right: 222px;
}.u-section-2 .u-sheet-1 {
  min-height: 80px;
}

.u-section-2 .u-text-1 {
  margin: 26px auto;
}