.u-section-1 .u-sheet-1 {
  min-height: 381px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 76px auto 0;
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}